#[defaults]
#collections_path =  /opt/ansible/.ansible/collections/ansible_collections:/opt/ansible/.ansible/collections

#[defaults]
# Use the absolute path where AWX always mounts projects
#collections_path = /runner/project/collections:/usr/share/ansible/collections
# Force use of this config
#stdout_callback = yaml
#host_key_checking = False

#[privilege_escalation]
#become = False
[defaults]
collections_path = /var/lib/awx/projects/ansible_collections:/usr/share/ansible/collections

host_key_checking = False
