#[defaults]
#collections_path =  /opt/ansible/.ansible/collections/ansible_collections:/opt/ansible/.ansible/collections
[defaults]
# 1. ./collections -> Busca en la carpeta del proyecto (Para nuevas Orgs y persistencia)
# 2. /usr/share/ansible/collections -> Busca en la ruta global del EE (Para la Org Default/Hack manual)
collections_path = ./collections:/usr/share/ansible/collections

host_key_checking = False
